@import 'tailwindcss';

@theme {
  --color-yellow: hsl(40, 97%, 58%);
  --color-dark-navy: hsl(216, 17%, 35%);
  --color-dim-grey: hsl(217, 12%, 62%);
  --color-light-grey: hsl(212, 41%, 93%);
  --color-snow: hsl(214, 37%, 96%);
  --color-light-yellow: hsl(39, 100%, 94%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
}

:root {
  /*=== SIZES ===*/
  --padding-100: 0.5rem;
  --padding-200: 0.75rem;
  --padding-300: 1rem;
  --padding-400: 1.25rem;
  --padding-500: 1.5rem;
  --padding-600: 1.75rem;
  --padding-700: 2rem;
  --padding-800: 2.25rem;
  --padding-900: 3.5rem;
  /*=== MARGINS ===*/
  --mg-container: 2rem;
  --mx-width: 1440px;
}

* {
  user-select: none;
}

.css-h1 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
}

.css-h2 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
}

.css-h3 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.79px;
}

.css-h4 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
}

.css-body {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

@media (max-width: 1440px) {
  :root {
    --mx-width: calc(100% - 4rem);
  }
}

@media (max-width: 1024px) {
  :root {
    --mg-container: 1rem;
    --mx-width: calc(100% - 2rem);
  }
}

@media (max-width: 800px) {
}
