@import 'tailwindcss';
:root {
  /*=== COLORS ===*/
  --yellow: hsl(40, 97%, 58%);
  --dark-navy: hsl(216, 17%, 35%);
  --dim-grey: hsl(217, 12%, 62%);
  --light-grey: hsl(212, 41%, 93%);
  --snow: hsl(214, 37%, 96%);
  --light-yellow: hsl(39, 100%, 94%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  /*=== SIZES ===*/
  --padding-100: 0.5rem;
  --padding-200: 0.75rem;
  --padding-300: 1rem;
  --padding-400: 1.25rem;
  --padding-500: 1.5rem;
  --padding-600: 1.75rem;
  --padding-700: 2rem;
  --padding-800: 2.25rem;
  --padding-900: 2.5rem;
  /*=== MARGINS ===*/
  --mg-container: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.h1 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
}

.h2 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
}

.h3 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.79px;
}

.h4 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
}

.body {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
